.json-editor-container {
  position: relative;
  :global {
    #ace-editor {
      width: 100% !important;

      .ace_scrollbar.ace_scrollbar-h {
        display: none;
      }

      .ace_print-margin {
        display: none;
      }
      

      .ace_scrollbar.ace_scrollbar-v {
        overflow-y: auto;
        height: 100% !important;
        &::-webkit-scrollbar {
          width: 15px;
        }
  
        &::-webkit-scrollbar-thumb {
          background: #808080;      
        }
  
        &::-webkit-scrollbar-track {
          background: #c3c0c0;
        }
      }
    }
  }
}